<div class = "container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
        <h1>Stupid Coaching</h1>
        <form action="/answer" data-turbo="false" method="get">
            <label for="ask-coach">Ask your coach anything:</label>
              <div class="input-group">
                <input type="text" name="question" id="ask-coach" class="form-control">
                <input type="submit" value="Ask!" class="btn btn-primary">
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
